*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

body{
    background-color: #ffffff;
    color: #000;
    line-height: 1.2;
    overflow-x: hidden;
}

.container{
    padding: 6rem 5rem;
}
.h2{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}
img{
    width: 100%;
}
.btn{
    padding: .5rem 2.5rem;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-image: linear-gradient(to right, #00539cff, #eea47fff);
}
.btn:hover{
    background-image: linear-gradient(to right, #00539cff, #00539cff);
    transition: all 400ms ease;
}








                        /* nav */


.window-scroll{
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #eea47fff;
}

nav{
    height: 6rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    padding: 0 5rem;
    z-index: 11;
}
#menu-toggle{
    display: none;
}

.nav-menu{
    display: flex;
    gap: 3rem;
    padding-left: 10rem;
}
.nav-menu li a{
    color: #00539cff;
}
.nav-menu li a:hover{
    color: #eea47fff;
    transition: all 400ms ease;
}
              /* end of nav*/




               /* header */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    top: 6rem;
    gap: 1rem;
    width: 100%;
    height: 45rem;
    padding: 8rem 5rem 4rem;
}
.header-left{
    width: 52%;
}
.header-left h1{
    font-size: 3.1rem;
    line-height: 1.3;
}
.header-left h1 span{
    color: #00539cff;
}
#color{
    color: #eea47fff;
}
.header-left p{
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.header-right{
    width: 48%;
}
.header-btn{
    display: flex;
    gap: 1rem;
}
.btn-1{
    padding: .6rem 3rem;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-image: linear-gradient(to right, #00539cff, #eea47fff);
}
.btn-1:hover{
    background-image: linear-gradient(to right, #00539cff, #00539cff);
    transition: all 400ms ease;
}
.btn-2{
    padding: .5rem 3rem;
    color: #00539cff;
    border: 1px solid #00539cff;
}
.btn-2:hover{
    background-image: linear-gradient(to right, #00539cff, #00539cff);
    color: #ffffff;
    transition: all 400ms ease;
}

                        /* end of header */








                        /* about */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.about-left{
    background-color: #eea47fff;
    padding: 2rem;
    width: 50%;
    border-radius: .5rem;
}
.about-right{
    width: 50%;
}
.about-right h4{
    color: #00539cff;
    font-size: 1.5rem;
}
.about-right p{
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: lighter;
}
                        /* end of about */






                        /* service */


.service-h2{
    color: #00539cff;
    font-size: 1.1rem;
    font-weight: lighter;
}
.service-h2:hover{
    color: #eea47fff;
    transition: all 400ms ease;
}
.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.service{
    background-color: #f0f0f0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: cente;
    border-radius: .5rem;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.service a h4{
    text-align: center;
}
.service p{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}
                        /* end of service */








                        /* how it works */

.hiw{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.hiw-left{
    width: 50%;
}
.hiw-left h2{
    color: #00539cff;
    font-size: 1.5rem;
    font-weight: 900;
}
.hiw-left h4{
    font-size: 1.3rem;
    font-weight: 600;
    padding-top: 1rem;
}
.hiw-left p{
    font-size: 1.1rem;
    padding-top: .5rem;
    padding-bottom: 2rem;
    font-weight: lighter;
}
.hiw-right{
    width: 50%;
}
                        /* end of how it works */







                        /* faq */

.faqs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.faq{
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    border-radius: .5rem;
    width: 100%;
    height: fit-content;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.faq-icon{
    align-self: flex-start;
    margin-top: -.5rem;
}
.faq-text h4{
    font-size: 1.1rem;
    font-weight: 600;
}
.faq p{
    padding-top: 1rem;
    font-size: 1.05rem;
    font-weight: lighter;
    display: none;
}
.faq.open p{
    display: block;
} 
i{
    color: #00539cff;
    border:  1.5px solid #ffffff;
    border-radius: 50%;
    padding: .7rem;
    font-size: 1.2rem;
    font-weight: bold;
}
i:hover{
    background-color: #00539cff;
    color: #ffffff;
    transition: all 400ms ease;
}


.ask-text{
    width: 100%;
    padding: 0rem 5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.ask-text h2{
    width: 70%;
    color: #00539cff;
    font-weight: lighter;
    font-size: 1.4rem;
}
.ask-text a{
    width: 20%;
    text-align: center;
}

                        /* end of faq */






                        /* subscription */
.sub{
    background-color: #eea47fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
}
.sub h2{
    font-size: 1.7rem;
    font-weight: 600;
}
.sub p{
    font-size: 1.1rem;
    font-weight: lighter;
}
.inp{
    display: flex;
    gap: 1rem;
}
input{
    padding: 1rem 15rem 1rem 2rem;
}

                        /* end of subscription */




                        /* footer */


footer{
    background-image: linear-gradient(to right, #00539cff, #eea47fff);
    padding-top: 3rem;
    color: #ffffff;
}
.footers{
    padding: 3rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 3rem;
}
.footer a{
    color: #ffffff;
}
.footer a:hover{
    text-decoration: underline;
    transition: all 400ms ease;
}
.footer p{
    font-weight: lighter;
    padding-top: 1rem;
}
.sub-service{
    padding-top: 1rem;
}
.sub-service a{
    color: #ffffff;
    padding-top: .7rem;
}
.sub-service a:hover{
    text-decoration: underline;
    transition: all 400ms ease;
}

.sub-service1{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
}
.sub-service2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
    padding-top: .5rem;
}
.social-media{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1rem;
}

small h1{
    border-top: 1px solid #ffffff;
    padding: 1.5rem 0;
    font-weight: lighter;
    text-align: center;
}



                        /* end of footer */



@media  screen and (max-width: 767px) {
    .container{
        padding: 4rem 1rem;
    }



              /* nav */

    nav{
        padding:0 1rem;
        height: 5rem;
        position: fixed;
        width: 100%;
    }  
    #rev{
        display: none;
    }  
    #menu-toggle {
        display: flex;
       
    }      
    .close-btn{
        display: none;
    }
     .nav-menu{
        position: fixed;
        top: 5rem;
        flex-direction: column;
        background: #00539cff;
        right: 0;
        height: 100%;
        padding: 4rem ;
        gap: 2rem;
        left: 50%;
        display: none;
    } 
    .nav-menu li a{
        color: #eea47fff;
    }
    .nav-menu li a:hover{
        text-decoration: underline;
        transition: all 400ms ease;
    }

             /* end of nav*/
    
             
     
    header{
        flex-direction: column;
        padding: 32rem 1rem;
        text-align: center;
        height: 52rem;
    }  
    .header-left{
        width: 100%;
    }   
    .header-left h1{
        font-size: 2.1rem;
        line-height: 1.2;
    }
    .header-right{
        width: 100%;
        padding-top: 3rem;
    }    
    .header-btn{
        flex-direction: column;
    }




    .about{
        flex-direction: column;
    }
    .about-right{
        width: 100%;
    }
    .about-left{
        width: 100%;
    }


    .services{
        grid-template-columns: 1fr;
        gap: 1rem;
    }



    .hiw{
        flex-direction: column-reverse;
    }
    .hiw-left{
        width: 100%;
        padding-top: 2rem;
    }
    .hiw-right{
        width: 100%;
    }




    .faqs{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .faq{
        padding: 1rem;
    }
    .faq p{
        margin-left: -3rem;
    }
    .faq-icon{
        margin-top: -.5rem;
    }
    .ask-text{
        flex-direction: column;
        padding:  0rem 1rem 2rem;
    }
    .ask-text h2{
        width: 100%;
        text-align: center;
    }
    .ask-text a{
        width: 100%;
    }
    .sub{
        text-align: center;
        gap: 1rem;
    }
    .inp{
        flex-direction: column;
        align-items: center;
    }
    input{
        width: 100%;
        padding-left: 1rem;
    }



    footer{
        padding-top: 2rem;
        background-image: linear-gradient(to right, #eea47fff, #00539cff);
    }
    .footers{
        grid-template-columns: 1fr;
        place-items: unset;
        padding: 2rem 1rem;
    }
    .sub-service a{
        font-weight: lighter;
    }
    small h1{
        font-size: 1.2rem;
    }
}           
